/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#login_modal_body {
  background-color: rgb(255, 240, 240);
}

#login_modal_footer_contents {
  align-items: center;
  justify-content: flex-end;
  padding: 0 2vmin 0 0;
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  #login_modal_footer_contents {
    padding: 0 1.5vmin 0 0;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  #login_modal_footer_contents {
    padding: 0 1vmin 0 0;
  }
}

/* ============================================================================================== */
