#admin_requesting_refund_summary_body {
  width: 100%;
}

.admin_awaiting_payment_confirmation_order_summary_bank_details_column {
  width: calc((100% / 3) * 2);
}

.admin_requesting_refund_decline_header_body {
  width: 100%;
  display: flex;
  padding: 4vmin;
}

.admin_requesting_refund_decline_header {
  font-family: "Russo One", sans-serif;
  font-size: 3.2vmin;
}

.admin_requesting_refund_decline_input_body {
  width: 100%;
  display: flex;
  padding: 4vmin;
}

.admin_requesting_refund_decline_input {
  height: 30vmin;
  width: 60vmin;
  padding: 2vmin;
}

@media only screen and (min-width: 600px) {
  .admin_awaiting_payment_confirmation_order_summary_bank_details_column {
    width: calc((100% / 3));
  }

  .admin_order_details_footer_buttons_body_open {
    height: 7vmin;
  }

  .admin_requesting_refund_decline_header_body {
    padding: 2vmin;
  }

  .admin_requesting_refund_decline_header {
    font-size: 1.6vmin;
  }

  .admin_requesting_refund_decline_input_body {
    padding: 2vmin;
  }

  .admin_requesting_refund_decline_input {
    height: 20vmin;
    width: 60vmin;
    padding: 1vmin;
  }
}
