#order_new_print_parts_add_part_body {
  height: 12vmin;
  display: flex;
  align-items: center;
}

#order_new_print_parts_add_part_button {
  height: 7vmin;
  padding: 0 4vmin 0 4vmin;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  border-style: dashed;
  border-color: rgb(10, 140, 10);
  border-radius: 3.5vmin;
  border-width: 0.5vmin;
  box-shadow: 0 0 1.5vmin 0.1vmin rgba(100, 100, 100, 0.3);
}

#order_new_print_parts_add_part_button:hover {
  height: 7.5vmin;
  padding: 0 4.3vmin 0 4.3vmin;
  background-color: rgb(250, 250, 250);
  border-color: rgb(10, 180, 10);
  border-radius: 3.75vmin;
  border-width: 0.7vmin;
}

#order_new_print_parts_add_part_button:active {
  background-color: rgb(245, 245, 245);
  box-shadow: none;
}

#order_new_print_parts_add_part_button_text {
  color: rgb(10, 140, 10);
  font-family: "Chivo";
  font-size: 3vmin;
  font-weight: 600;
}

#order_new_print_parts_add_part_button:hover
  > #order_new_print_parts_add_part_button_text {
  color: rgb(10, 180, 10);
  font-size: 3.2vmin;
}

@media only screen and (min-width: 600px) {
  #order_new_print_parts_add_part_body {
    height: 6vmin;
  }

  #order_new_print_parts_add_part_button {
    height: 3.5vmin;
    padding: 0 2vmin 0 2vmin;
    border-radius: 1.75vmin;
    border-width: 0.25vmin;
    box-shadow: 0 0 0.75vmin 0.05vmin rgba(100, 100, 100, 0.3);
  }

  #order_new_print_parts_add_part_button:hover {
    height: 3.75vmin;
    padding: 0 2.15vmin 0 2.25vmin;
    border-radius: 1.875vmin;
    border-width: 0.35vmin;
  }

  #order_new_print_parts_add_part_button_text {
    font-size: 1.5vmin;
  }

  #order_new_print_parts_add_part_button:hover
    > #order_new_print_parts_add_part_button_text {
    color: rgb(10, 180, 10);
    font-size: 1.6vmin;
  }
}
