<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Zealand Based 3D Printing Service | Delta 3D Printing</title>
    <meta
      name="description"
      content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us."
    />
    <!--
      ============================================== EXTERNAL ==============================================
    -->
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One"
      rel="stylesheet"
    />
    <!-- Jquery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <!-- Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
      async
      defer
    ></script>
    <!-- Moment -->
    <script src="https://gitcdn.link/repo/moment/moment/develop/moment.js"></script>
    <!--
      =============================================== GLOBAL ===============================================
    -->
    <script src="/components/global/global.js"></script>
    <link rel="stylesheet" href="/components/global/global.css" />
    <!-- ------------------------------ TOOLS ------------------------------ -->
    <!-- PRICE: 3D Printing Service -->
    <script src="/components/global/Tools/Price/printingService.js"></script>
    <!-- DATABASE REQUEST: File -->
    <script src="/components/global/Tools/DatabaseRequest/file.js"></script>
    <!-- DATABASE REQUEST: Print -->
    <script src="/components/global/Tools/DatabaseRequest/print.js"></script>
    <!-- DATABASE REQUEST: Profile -->
    <script src="/components/global/Tools/DatabaseRequest/profile.js"></script>
    <!-- DATABASE REQUEST: Level -->
    <script src="/components/global/Tools/DatabaseRequest/level.js"></script>
    <!-- LEVEL -->
    <script src="/components/global/Tools/level.js"></script>
    <!-- DATE -->
    <script src="/components/global/Tools/date.js"></script>
    <!-- DISPLAY MESSAGE -->
    <script src="/components/global/Tools/displayMessage.js"></script>
    <!-- NAMING -->
    <script src="/components/global/Tools/naming.js"></script>
    <!--
      --------------------------------------------- NAVIGATION ---------------------------------------------
    -->
    <!-- Navigation: Toolbar -->
    <link
      rel="stylesheet"
      href="/components/global/Navigation/Toolbar/toolbar.css"
    />
    <!-- Navigation: Navigation Drawer -->
    <script src="/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Navigation/NavigationDrawer/navigationDrawer.css"
    />
    <!-- Navigation: Profile Drawer -->
    <script src="/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Navigation/ProfileDrawer/profileDrawer.css"
    />
    <!-- Navigation: Profile Drawer: Visitor -->
    <script src="/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>
    <!-- Navigation: Profile Drawer: User -->
    <script src="/components/global/Navigation/ProfileDrawer/User/user.js"></script>
    <!-- Navigation: Footer -->
    <link
      rel="stylesheet"
      href="/components/global/Navigation/Footer/footer.css"
    />
    <!--
      ------------------------------------------- USER INTERFACE -------------------------------------------
    -->
    <!-- User Interface: Modal -->
    <script src="/components/global/UserInterface/Modal/modal.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/UserInterface/Modal/modal.css"
    />
    <!-- User Interface: Backdrop -->
    <script src="/components/global/UserInterface/Backdrop/backdrop.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/UserInterface/Backdrop/backdrop.css"
    />
    <!-- User Interface: Loader -->
    <script src="/components/global/UserInterface/Loader/loader.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/UserInterface/Loader/loader.css"
    />
    <!--
      ---------------------------------------------- ACCOUNT -----------------------------------------------
    -->
    <link rel="stylesheet" href="/components/global/Account/account.css" />
    <!-- Account: Login -->
    <script src="/components/global/Account/Login/login.js"></script>
    <link rel="stylesheet" href="/components/global/Account/Login/login.css" />
    <!-- Account: Profile -->
    <script src="/components/global/Account/Signup/signup.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Account/Signup/signup.css"
    />
    <!--
      ---------------------------------------- ADDRESS AUTOCOMPLETE ----------------------------------------
    -->
    <script src="/components/global/AddressAutocomplete/addressAutocomplete.js"></script>
    <!--
      --------------------------------------------- VALIDATION ---------------------------------------------
    -->
    <!-- Validation: Login Status -->
    <script src="/components/global/Validation/LoginStatus/loginStatus.js"></script>
    <!--
      --------------------------------------------- NEW ORDER ----------------------------------------------
    -->
    <!-- New Order: Order New Print -->
    <script src="/components/global/NewOrder/OrderNewPrint/orderNewPrint.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/orderNewPrint.css"
    />
    <!-- New Order: Order New Print: Parts -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/parts.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/parts.css"
    />
    <!-- New Order: Order New Print: Parts: Part -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/part.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/part.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Upload Model -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/UploadModel/uploadModel.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/selectMaterial.css"
    />
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Material Group
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/MaterialGroup/materialGroup.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Process -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Process/process.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Material -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Material/material.css"
    />
    <!-- New Order: Order New Print: Parts: Part: Select Material: Plastic -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/plastic.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/fdm.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PLA
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PLA/pla.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: ABS
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/ABS/abs.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: PETG
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/PETG/petg.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: FDM: FLEX
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/FDM/FLEX/flex.js"></script>
    <!--
      New Order: Order New Print: Parts: Part: Select Material: Plastic: SLA
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Plastic/SLA/sla.js"></script>
    <!-- New Order: Order New Print: Parts: Part: Select Material: Metal -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/SelectMaterial/Metal/metal.js"></script>
    <!-- New Order: Order New Print: Parts: Part: Choose Options -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/chooseOptions.css"
    />
    <!--
      New Order: Order New Print: Parts: Part: Choose Options: Material Options
    -->
    <script src="/components/global/NewOrder/OrderNewPrint/Parts/Part/ChooseOptions/MaterialOptions/materialOptions.js"></script>
    <!-- New Order: Order New Print: Global Options -->
    <script src="/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/GlobalOptions/globalOptions.css"
    />
    <!-- New Order: Order New Print: Submit New Print Order -->
    <script src="/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/NewOrder/OrderNewPrint/SubmitNewPrintOrder/submitNewPrintOrder.css"
    />
    <!-- -------------------------------------- GLOBAL: ORDER -------------------------------------- -->
    <script src="/components/global/OrderDetails/orderDetails.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/orderDetails.css"
    />
    <!-- ORDER: DETAILS -->
    <script src="/components/global/OrderDetails/Details/details.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/Details/details.css"
    />
    <!-- Details: Global Options -->
    <script src="/components/global/OrderDetails/Details/GlobalOptions/globalOptions.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/Details/GlobalOptions/globalOptions.css"
    />
    <!-- Details: Parts -->
    <script src="/components/global/OrderDetails/Details/Parts/parts.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/Details/Parts/parts.css"
    />
    <!-- Details: Price -->
    <script src="/components/global/OrderDetails/Details/Price/price.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/Details/Price/price.css"
    />
    <!-- Parts and Pricing -->
    <script src="/components/global/OrderDetails/PartsAndPricing/partAndPricing.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/PartsAndPricing/partAndPricing.css"
    />
    <!-- ORDER: COMMENTS -->
    <script src="/components/global/OrderDetails/Comments/comments.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/Comments/comments.css"
    />
    <!-- ORDER: ORDER PROGRESSION -->
    <!-- Order Progression: Awaiting Quote -->
    <script src="/components/global/OrderDetails/OrderProgression/AwaitingQuote/awaitingQuote.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/AwaitingQuote/awaitingQuote.css"
    />
    <!-- Order Progression: Awaiting Payment -->
    <script src="/components/global/OrderDetails/OrderProgression/AwaitingPayment/awaitingPayment.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/AwaitingPayment/awaitingPayment.css"
    />
    <!-- Order Progression: Awaiting Payment Confirmation -->
    <script src="/components/global/OrderDetails/OrderProgression/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.js"></script>
    <!-- Order Progression: Printing Order -->
    <script src="/components/global/OrderDetails/OrderProgression/PrintingOrder/printingOrder.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/PrintingOrder/printingOrder.css"
    />
    <!-- Order Progression: Ready for Pickup -->
    <script src="/components/global/OrderDetails/OrderProgression/ReadyForPickup/readyForPickup.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/ReadyForPickup/readyForPickup.css"
    />
    <!-- Order Progression: Order Picked Up -->
    <script src="/components/global/OrderDetails/OrderProgression/OrderPickedUp/orderPickedUp.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/OrderPickedUp/orderPickedUp.css"
    />
    <!-- Order Progression: Ready for Shipping -->
    <script src="/components/global/OrderDetails/OrderProgression/ReadyForShipping/readyForShipping.js"></script>
    <!-- Order Progression: Order Shipped -->
    <script src="/components/global/OrderDetails/OrderProgression/OrderShipped/orderShipped.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/OrderShipped/orderShipped.css"
    />
    <!-- Order Progression: Order Completed -->
    <script src="/components/global/OrderDetails/OrderProgression/OrderCompleted/orderCompleted.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/OrderProgression/OrderCompleted/orderCompleted.css"
    />
    <!-- ORDER: REQUEST REFUND -->
    <script src="/components/global/OrderDetails/RequestRefund/requestRefund.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/RequestRefund/requestRefund.css"
    />
    <!-- ORDER: REFUND PROGRESSION -->
    <!-- Refund Progression: Requesting Refund -->
    <script src="/components/global/OrderDetails/RefundProgression/RequestingRefund/requestingRefund.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/OrderDetails/RefundProgression/RequestingRefund/requestingRefund.css"
    />
    <!-- Refund Progression: Refund Declined -->
    <script src="/components/global/OrderDetails/RefundProgression/RefundDeclined/refundDeclined.js"></script>
    <!-- Refund Progression: Refund Approved -->
    <script src="/components/global/OrderDetails/RefundProgression/RefundApproved/refundApproved.js"></script>
    <!-- Refund Progression: Refund Processed -->
    <script src="/components/global/OrderDetails/RefundProgression/RefundProcessed/refundProcessed.js"></script>
    <!--
      =========================================== ADMIN: PROFILE ===========================================
    -->
    <script src="/components/admin/Profile/profile.js"></script>
    <link rel="stylesheet" href="/components/admin/Profile/profile.css" />
    <!--
      ----------------------------------------------- ORDERS -----------------------------------------------
    -->
    <script src="/components/admin/Profile/Orders/orders.js"></script>
    <link rel="stylesheet" href="/components/admin/Profile/Orders/orders.css" />
    <!--
      ----------------------------------------------- PRINTS -----------------------------------------------
    -->
    <script src="/components/admin/Profile/Orders/Prints/prints.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/Profile/Orders/Prints/prints.css"
    />
    <!-- DISCOUNTS -->
    <script src="/components/admin/Profile/Orders/Prints/Discounts/discounts.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/Profile/Orders/Prints/Discounts/discounts.css"
    />
    <!--
      -------------------------------------------- MARKETPLACE ---------------------------------------------
    -->
    <script src="/components/admin/Profile/Orders/Marketplace/marketplace.js"></script>
    <!--
      ======================================== ADMIN: ORDER DETAILS ========================================
    -->
    <script src="/components/admin/OrderDetails/orderDetails.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/orderDetails.css"
    />
    <!--
      ------------------------------------------- AWAITING QUOTE -------------------------------------------
    -->
    <script src="/components/admin/OrderDetails/AwaitingQuote/awaitingQuote.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/AwaitingQuote/awaitingQuote.css"
    />
    <!--
      ----------------------------------- AWAITING PAYMENT CONFIRMATION ------------------------------------
    -->
    <script src="/components/admin/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/AwaitingPaymentConfirmation/awaitingPaymentConfirmation.css"
    />
    <!--
      ------------------------------------------- PRINTING ORDER -------------------------------------------
    -->
    <script src="/components/admin/OrderDetails/PrintingOrder/printingOrder.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/PrintingOrder/printingOrder.css"
    />
    <!--
      ----------------------------------------- READY FOR SHIPPING -----------------------------------------
    -->
    <script src="/components/admin/OrderDetails/ReadyForShipping/readyForShipping.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/ReadyForShipping/readyForShipping.css"
    />
    <!-- ------------------------ REQUESTING REFUND ------------------------ -->
    <script src="/components/admin/OrderDetails/RequestingRefund/requestingRefund.js"></script>
    <link
      rel="stylesheet"
      href="/components/admin/OrderDetails/RequestingRefund/requestingRefund.css"
    />
  </head>

  <body>
    <!-- ============================ TOOLBAR ============================= -->

    <div id="toolbar">
      <div id="navigation_drawer_toggle">
        <div
          id="navigation_drawer_toggle_bar_1"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_2"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_3"
          class="navigation_drawer_toggle_bar"
        ></div>
      </div>
      <div id="homepage_logo_container"></div>
      <div id="profile_drawer_toggle">
        <img
          src="/assets/profile_icon.png"
          alt="profile_icon"
          id="profile_drawer_icon"
        />
      </div>
    </div>

    <!-- ======================= NAVIGATION DRAWER ======================== -->

    <div id="navigation_drawer" class="navigation_drawer_close">
      <a href="/" class="navigation_link">Home</a>
      <a href="/services" class="navigation_link">Services</a>
      <a href="/pricing" class="navigation_link">Pricing</a>
      <a href="/partnership" class="navigation_link">Partnership</a>
    </div>

    <!-- ========================= PROFILE DRAWER ========================= -->

    <div id="profile_drawer" class="profile_drawer_close"></div>

    <!-- =========================== MAIN BODY ============================ -->

    <div id="admin_profile_body">
      <div id="admin_profile_navigation_tabs">
        <div
          id="admin_profile_dashboard_tab"
          class="admin_profile_navigation_tab"
        >
          <div
            id="admin_profile_dashboard_tab_text"
            class="admin_profile_navigation_tab_text"
          >
            Dashboard
          </div>
        </div>
        <div id="admin_profile_orders_tab" class="admin_profile_navigation_tab">
          <div
            id="admin_profile_orders_tab_text"
            class="admin_profile_navigation_tab_text"
          >
            Orders
          </div>
        </div>
        <div
          id="admin_profile_settings_tab"
          class="admin_profile_navigation_tab"
        >
          <div
            id="admin_profile_settings_tab_text"
            class="admin_profile_navigation_tab_text"
          >
            Settings
          </div>
        </div>
      </div>
      <div id="admin_profile_contents_body"></div>
    </div>

    <!-- ============================= FOOTER ============================= -->

    <div id="footer">
      <div class="footer_divider">
        <p class="footer_divider_header">Services</p>
        <div
          id="footer_3d_printing_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-printing"
            id="footer_3d_printing"
            class="footer_content"
            >3D Printing</a
          >
        </div>
        <div
          id="footer_3d_modelling_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-modelling"
            id="footer_3d_modelling"
            class="footer_content"
            >3D Modelling</a
          >
        </div>
        <div
          id="footer_marketplace_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/marketplace"
            id="footer_marketplace"
            class="footer_content"
            >Marketplace</a
          >
        </div>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Resources</p>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Delta 3D Printing</p>
        <div
          id="footer_about_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/about" id="footer_about_us" class="footer_content">About</a>
        </div>
        <div
          id="footer_contact_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/contact-us" id="footer_contact_us" class="footer_content"
            >Contact Us</a
          >
        </div>
        <div
          id="footer_partnership_body"
          class="footer_content_body footer_about_content_body"
        >
          <a href="/partnership" id="footer_partnership" class="footer_content"
            >Partnership Program</a
          >
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const levels = [
    {
      level: "1",
      minPoints: 0,
      maxPoints: 1000,
      benefits: []
    },
    {
      level: "2",
      minPoints: 1000,
      maxPoints: 2000,
      benefits: ["+5% discount for all 3D printing orders"]
    },
    {
      level: "3",
      minPoints: 2000,
      maxPoints: 3000,
      benefits: []
    },
    {
      level: "4",
      minPoints: 3000,
      maxPoints: 4000,
      benefits: []
    },
    {
      level: "5",
      minPoints: 4000,
      maxPoints: 5000,
      benefits: []
    },
    {
      level: "6",
      minPoints: 5000,
      maxPoints: 6000,
      benefits: []
    },
    {
      level: "7",
      minPoints: 6000,
      maxPoints: 7000,
      benefits: []
    },
    {
      level: "8",
      minPoints: 7000,
      maxPoints: 8000,
      benefits: []
    },
    {
      level: "9",
      minPoints: 8000,
      maxPoints: 9000,
      benefits: []
    },
    {
      level: "10",
      minPoints: 9000,
      maxPoints: 10000,
      benefits: []
    },
    {
      level: "11",
      minPoints: 10000,
      maxPoints: 20000,
      benefits: ["+5% discount for all 3D printing orders"]
    },
    {
      level: "12",
      minPoints: 20000,
      maxPoints: 30000,
      benefits: []
    },
    {
      level: "13",
      minPoints: 30000,
      maxPoints: 40000,
      benefits: []
    },
    {
      level: "14",
      minPoints: 40000,
      maxPoints: 50000,
      benefits: []
    },
    {
      level: "15",
      minPoints: 50000,
      maxPoints: 60000,
      benefits: []
    },
    {
      level: "16",
      minPoints: 60000,
      maxPoints: 70000,
      benefits: []
    },
    {
      level: "17",
      minPoints: 70000,
      maxPoints: 80000,
      benefits: []
    },
    {
      level: "18",
      minPoints: 80000,
      maxPoints: 90000,
      benefits: []
    },
    {
      level: "19",
      minPoints: 90000,
      maxPoints: 100000,
      benefits: []
    },
    {
      level: "20",
      minPoints: 100000,
      maxPoints: 200000,
      benefits: ["+5% discount for all 3D printing orders"]
    }
  ];

  const adminProfileDashboardInit = () => {
    console.log("Dashboard");
  };
  const adminProfileSettingsInit = () => {
    console.log("Settings");
  };
  const testSaveLevelObject = levelObjectArray => {
    levelObjectArray.forEach(levelObject => {
      $.ajax({
        type: "POST",
        url: "/level/add-new-level",
        contentType: "application/json",
        data: JSON.stringify({ levelObject }),
        success: data => {
          console.log(data);
        }
      });
    });
  };
</script>
