<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partnership | Delta 3D Printing</title>
    <meta
      name="description"
      content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us."
    />
    <!-- ============================ EXTERNAL ============================ -->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One"
      rel="stylesheet"
    />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <!-- Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
      async
      defer
    ></script>

    <!-- ============================= GLOBAL ============================= -->

    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/global.css"
    />

    <!-- --------------------------- NAVIGATION --------------------------- -->

    <!-- Toolbar -->
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Toolbar/toolbar.css"
    />

    <!-- Navigation Drawer -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/NavigationDrawer/navigationDrawer.css"
    />

    <!-- Profile Drawer -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/profileDrawer.css"
    />

    <!-- Profile Drawer: Visitor -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>

    <!-- Profile Drawer: User -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/ProfileDrawer/User/user.js"></script>

    <!-- Footer -->
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Navigation/Footer/footer.css"
    />

    <!-- ------------------------- USER INTERFACE ------------------------- -->

    <!-- Modal -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Modal/modal.css"
    />

    <!-- Backdrop -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/UserInterface/Backdrop/backdrop.css"
    />

    <!-- ---------------------------- ACCOUNT ----------------------------- -->

    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/account.css"
    />

    <!-- Login -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Login/login.css"
    />

    <!-- Signup -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Account/Signup/signup.css"
    />

    <!-- ---------------------- ADDRESS AUTOCOMPLETE ---------------------- -->

    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/AddressAutocomplete/addressAutocomplete.js"></script>

    <!-- --------------------------- VALIDATION --------------------------- -->

    <!-- Login Status -->
    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/global/Validation/LoginStatus/loginStatus.js"></script>

    <!-- ======================= LOCAL: PARTNERSHIP ======================= -->

    <script src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Partnership/partnership.js"></script>
    <link
      rel="stylesheet"
      href="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/components/local/Partnership/partnership.css"
    />
  </head>

  <body>
    <!-- ============================ TOOLBAR ============================= -->

    <div id="toolbar">
      <div id="navigation_drawer_toggle">
        <div
          id="navigation_drawer_toggle_bar_1"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_2"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_3"
          class="navigation_drawer_toggle_bar"
        ></div>
      </div>
      <div id="homepage_logo_container"></div>
      <div id="profile_drawer_toggle">
        <img
          src="https://gitcdn.link/repo/delta3dprinting/delta3dprinting/master/assets/profile_icon.png"
          alt="profile_icon"
          id="profile_drawer_icon"
        />
      </div>
    </div>

    <!-- ======================= NAVIGATION DRAWER ======================== -->

    <div id="navigation_drawer" class="navigation_drawer_close">
      <a href="/" class="navigation_link">Home</a>
      <a href="/services" class="navigation_link">Services</a>
      <a href="/pricing" class="navigation_link">Pricing</a>
      <a href="/partnership" class="navigation_link">Partnership</a>
    </div>

    <!-- ========================= PROFILE DRAWER ========================= -->

    <div id="profile_drawer" class="profile_drawer_close"></div>

    <!-- =========================== MAIN BODY ============================ -->

    <div id="partnership_body">
      <div id="partnership_navigation_tabs">
        <div class="partnership_navigation_tab">
          <p
            class="partnership_navigation_tab_text partnership_navigation_tab_text_selected"
          >
            Overview
          </p>
        </div>
        <div class="partnership_navigation_tab">
          <a
            href="/partnership/discounts"
            class="partnership_navigation_tab_text"
          >
            Discounts
          </a>
        </div>
        <div class="partnership_navigation_tab">
          <a
            href="/partnership/become-a-partner"
            class="partnership_navigation_tab_text"
          >
            Become a Partner
          </a>
        </div>
      </div>
      <div id="partnership_contents_body">
        <div id="partnership_main_header_body">
          <h1 id="partnership_main_header_text">Partnership Program</h1>
        </div>
        <div id="partnership_opening_description_body">
          <h3 id="partnership_opening_description_text">
            The Delta 3D Printing Partnership Program provides you with a range
            of benefits to ensure delivery of great 3D printing services that
            are tailored to your own needs.
          </h3>
        </div>
        <div id="partnership_co_creation_body" class="partnership_body_one">
          <div class="partnership_header_body_one">
            <h2 class="partnership_header_text_one">Co-Creation</h2>
          </div>
          <div class="partnership_description_body_one">
            <p class="partnership_description_text_one">
              We'll work with you anywhere from design stage all the way through
              manufacturing stage to ensure quality and compatibility of your
              products for 3D printing. We can start from scratch or re-design a
              product to suit 3D printing manufacturing.
            </p>
          </div>
        </div>
        <div
          id="partnership_discounts_on_services_body"
          class="partnership_body_two"
        >
          <div class="partnership_header_body_two">
            <h2 class="partnership_header_text_two">Discounts on Services</h2>
          </div>
          <div class="partnership_description_body_two">
            <p class="partnership_description_text_two">
              Partners get an automatic 20% discount for 3D Printing Services.
              Additional discounts will be applied based on your previous
              month's cumulative order value. Partners 3D printing orders will
              be prioritised without any additional charges.
            </p>
          </div>
          <div class="partnership_details_button_body_two">
            <div class="partnership_button">
              <a href="/partnership/discounts" class="partnership_button_text">
                Explore the discounts
              </a>
            </div>
          </div>
        </div>
        <div
          id="partnership_personalisation_of_services_body"
          class="partnership_body_one"
        >
          <div class="partnership_header_body_one">
            <h2 class="partnership_header_text_one">
              Personalisation of Services
            </h2>
          </div>
          <div class="partnership_description_body_one">
            <p class="partnership_description_text_one">
              We'll work with you to determine the best way to deliver the 3D
              printing services to suit your own practice goals. Example of this
              could be setting a daily/weekly production rate and delivery date
              of your 3D printed products.
            </p>
          </div>
        </div>
        <div
          id="partnership_discounts_on_services_body"
          class="partnership_body_two"
        >
          <div class="partnership_header_body_two">
            <h2 class="partnership_header_text_two">Becoming a Partner</h2>
          </div>
          <div class="partnership_description_body_two">
            <p class="partnership_description_text_two">
              Becoming a partner is simple! You just need a minimum average
              monthly cumulative order value of $1,000. This can be based on
              your previous order history with us or based on a forecast.
            </p>
          </div>
          <div class="partnership_details_button_body_two">
            <div class="partnership_button">
              <a
                href="/partnership/become-a-partner"
                class="partnership_button_text"
                >See requirements</a
              >
            </div>
          </div>
        </div>
        <div id="partnership_become_a_partner_body">
          <div id="partnership_become_a_partner_header_body">
            <h2 id="partnership_become_a_partner_header_text">
              Let's build a strong partnership
            </h2>
          </div>
          <div id="partnership_become_a_partner_button_body">
            <div
              id="partnership_become_a_partner_button"
              class="partnership_button"
            >
              <a
                href="/partnership/become-a-partner"
                class="partnership_button_text"
                >Become a partner</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================= FOOTER ============================= -->

    <div id="footer">
      <div class="footer_divider">
        <p class="footer_divider_header">Services</p>
        <div
          id="footer_3d_printing_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-printing"
            id="footer_3d_printing"
            class="footer_content"
            >3D Printing</a
          >
        </div>
        <div
          id="footer_3d_modelling_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-modelling"
            id="footer_3d_modelling"
            class="footer_content"
            >3D Modelling</a
          >
        </div>
        <div
          id="footer_marketplace_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/marketplace"
            id="footer_marketplace"
            class="footer_content"
            >Marketplace</a
          >
        </div>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Resources</p>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Delta 3D Printing</p>
        <div
          id="footer_about_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/about" id="footer_about_us" class="footer_content">About</a>
        </div>
        <div
          id="footer_contact_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/contact-us" id="footer_contact_us" class="footer_content"
            >Contact Us</a
          >
        </div>
        <div
          id="footer_partnership_body"
          class="footer_content_body footer_about_content_body"
        >
          <a href="/partnership" id="footer_partnership" class="footer_content"
            >Partnership Program</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
