<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Zealand Based 3D Printing Service | Delta 3D Printing</title>
    <meta
      name="description"
      content="Delta 3D Printing provides cheap and high-quality 3D printing services and products for people across New Zealand. Benefits and discounts for students and returning customers. Partner With Us! Personalised services and discounts for businesses and organisations partnered with us."
    />
    <!-- ============================ EXTERNAL ============================ -->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Chivo|Open+Sans|Raleway|Russo+One"
      rel="stylesheet"
    />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <!-- Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRepNytrdQFVYOgxLQP6DrHO6Ovkk8Ocg&libraries=places"
      async
      defer
    ></script>

    <!-- ============================= GLOBAL ============================= -->

    <script src="/components/global/global.js"></script>
    <link rel="stylesheet" href="/components/global/global.css" />

    <!-- --------------------------- NAVIGATION --------------------------- -->

    <!-- Toolbar -->
    <link
      rel="stylesheet"
      href="/components/global/Navigation/Toolbar/toolbar.css"
    />

    <!-- Navigation Drawer -->
    <script src="/components/global/Navigation/NavigationDrawer/navigationDrawer.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Navigation/NavigationDrawer/navigationDrawer.css"
    />

    <!-- Profile Drawer -->
    <script src="/components/global/Navigation/ProfileDrawer/profileDrawer.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Navigation/ProfileDrawer/profileDrawer.css"
    />

    <!-- Profile Drawer: Visitor -->
    <script src="/components/global/Navigation/ProfileDrawer/Visitor/visitor.js"></script>

    <!-- Profile Drawer: User -->
    <script src="/components/global/Navigation/ProfileDrawer/User/user.js"></script>

    <!-- Footer -->
    <link
      rel="stylesheet"
      href="/components/global/Navigation/Footer/footer.css"
    />

    <!-- ------------------------- USER INTERFACE ------------------------- -->

    <!-- Modal -->
    <script src="/components/global/UserInterface/Modal/modal.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/UserInterface/Modal/modal.css"
    />

    <!-- Backdrop -->
    <script src="/components/global/UserInterface/Backdrop/backdrop.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/UserInterface/Backdrop/backdrop.css"
    />

    <!-- ---------------------------- ACCOUNT ----------------------------- -->

    <link rel="stylesheet" href="/components/global/Account/account.css" />

    <!-- Login -->
    <script src="/components/global/Account/Login/login.js"></script>
    <link rel="stylesheet" href="/components/global/Account/Login/login.css" />

    <!-- Signup -->
    <script src="/components/global/Account/Signup/signup.js"></script>
    <link
      rel="stylesheet"
      href="/components/global/Account/Signup/signup.css"
    />

    <!-- ---------------------- ADDRESS AUTOCOMPLETE ---------------------- -->

    <script src="/components/global/AddressAutocomplete/addressAutocomplete.js"></script>

    <!-- --------------------------- VALIDATION --------------------------- -->

    <!-- Login Status -->
    <script src="/components/global/Validation/LoginStatus/loginStatus.js"></script>

    <!-- ======================== LOCAL: PRICING ========================= -->

    <script src="/components/local/Pricing/pricing.js"></script>
    <link rel="stylesheet" href="/components/local/Pricing/pricing.css" />
  </head>

  <body>
    <!-- ============================ TOOLBAR ============================= -->

    <div id="toolbar">
      <div id="navigation_drawer_toggle">
        <div
          id="navigation_drawer_toggle_bar_1"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_2"
          class="navigation_drawer_toggle_bar"
        ></div>
        <div
          id="navigation_drawer_toggle_bar_3"
          class="navigation_drawer_toggle_bar"
        ></div>
      </div>
      <div id="homepage_logo_container"></div>
      <div id="profile_drawer_toggle">
        <img
          src="/assets/profile_icon.png"
          alt="profile_icon"
          id="profile_drawer_icon"
        />
      </div>
    </div>

    <!-- ======================= NAVIGATION DRAWER ======================== -->

    <div id="navigation_drawer" class="navigation_drawer_close">
      <a href="/" class="navigation_link">Home</a>
      <a href="/services" class="navigation_link">Services</a>
      <a href="/pricing" class="navigation_link">Pricing</a>
      <a href="/partnership" class="navigation_link">Partnership</a>
    </div>

    <!-- ========================= PROFILE DRAWER ========================= -->

    <div id="profile_drawer" class="profile_drawer_close"></div>

    <!--
      ===================================== MAIN BODY =====================================
    -->

    <div id="pricing_body">
      <div id="pricing_navigation_tabs">
        <div id="pricing_overview_tab" class="pricing_navigation_tab">
          <a href="/pricing" class="pricing_navigation_tab_text">
            3D Printing
          </a>
        </div>
        <div id="pricing_3d_modelling_tab" class="pricing_navigation_tab">
          <a href="/pricing/3d-modelling" class="pricing_navigation_tab_text"
            >3D Modelling</a
          >
        </div>
        <div id="pricing_marketplace_tab" class="pricing_navigation_tab">
          <p
            class="pricing_navigation_tab_text pricing_navigation_tab_text_selected"
          >
            Marketplace
          </p>
        </div>
      </div>
      <div class="pricing_contents_body">
        <div class="pricing_header_body">
          <h1 class="pricing_header_text">Marketplace Pricing</h1>
        </div>
        <div class="pricing_subtitle_body">
          <h3 class="pricing_subtitle_text">
            Providing creators a platform to sell their 3D printed models, kits
            and products for affordable rates. Introducing the public to the
            world of 3D printed products
          </h3>
        </div>
        <div class="pricing_content_body_one">
          <div class="pricing_description_body_one">
            <p class="pricing_description_text_one">
              We are currently developing the Marketplace. If you have any
              question about Marketplace, feel free to contact us at
              founder.delta3dprinting@gmail.com.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================= FOOTER ============================= -->

    <div id="footer">
      <div class="footer_divider">
        <p class="footer_divider_header">Services</p>
        <div
          id="footer_3d_printing_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-printing"
            id="footer_3d_printing"
            class="footer_content"
            >3D Printing</a
          >
        </div>
        <div
          id="footer_3d_modelling_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/3d-modelling"
            id="footer_3d_modelling"
            class="footer_content"
            >3D Modelling</a
          >
        </div>
        <div
          id="footer_marketplace_body"
          class="footer_content_body footer_services_content_body"
        >
          <a
            href="/services/marketplace"
            id="footer_marketplace"
            class="footer_content"
            >Marketplace</a
          >
        </div>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Resources</p>
      </div>
      <div class="footer_divider">
        <p class="footer_divider_header">Delta 3D Printing</p>
        <div
          id="footer_about_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/about" id="footer_about_us" class="footer_content">About</a>
        </div>
        <div
          id="footer_contact_us_body"
          class="footer_content_body footer_about_us_content_body"
        >
          <a href="/contact-us" id="footer_contact_us" class="footer_content"
            >Contact Us</a
          >
        </div>
        <div
          id="footer_partnership_body"
          class="footer_content_body footer_about_content_body"
        >
          <a href="/partnership" id="footer_partnership" class="footer_content"
            >Partnership Program</a
          >
        </div>
      </div>
    </div>
  </body>

  <script>
    /* ======================================= INITIALISATION ======================================= */

    window.onload = () => {
      globalInit();
    };

    /* ============================================================================================== */
  </script>
</html>
