/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#toolbar {
  height: 10vmin;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vmin;
  background-color: rgb(170, 10, 10);
  z-index: 10;
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  #toolbar {
    height: 7.5vmin;
    padding: 0 1.5vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  #toolbar {
    height: 5vmin;
    padding: 0 1vmin;
  }
}

/* ============================================================================================== */
