#profile_orders_navigation_tabs_body {
  height: 8vmin;
  display: flex;
}

.profile_orders_navigation_tab_body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 10, 10);
  opacity: 0.3;
  border-color: rgb(170, 10, 10);
  transition: opacity 1s ease;
}

.profile_orders_navigation_tab_text {
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  color: white;
  font-weight: 800;
}

#profile_orders_components_body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  #profile_orders_navigation_tabs_body {
    height: 4.5vmin;
  }

  .profile_orders_navigation_tab_text {
    font-size: 1.8vmin;
  }
}
