#footer {
  width: 100%;
  position: relative;
  top: 10vmin;
  display: flex;
  justify-content: space-between;
  padding: 4vmin 2vmin 4vmin 2vmin;
  background-color: rgb(220, 220, 220);
  z-index: 10;
}

.footer_divider {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 0 2vmin 0 2vmin;
}

.footer_divider_header {
  height: 6vmin;
  font-family: "Russo One", sans-serif;
  font-size: 2.8vmin;
  color: rgb(170, 10, 10);
}

.footer_content_body {
  height: 8vmin;
  display: flex;
  flex-direction: column;
}

.footer_content {
  height: 7vmin;
  display: flex;
  align-items: center;
  font-family: "Chivo", sans-serif;
  font-size: 3vmin;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

#footer_3d_printing_body:hover > #footer_3d_printing {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_3d_modelling_body:hover > #footer_3d_modelling {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_marketplace_body:hover > #footer_marketplace {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_about_us_body:hover > #footer_about_us {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_what_is_delta_3d_printing_body:hover
  > #footer_what_is_delta_3d_printing {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_contact_us_body:hover > #footer_contact_us {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

#footer_partnership_body:hover > #footer_partnership {
  font-weight: 600;
  text-shadow: 0 0 7vmin rgb(170, 10, 10);
}

@media only screen and (min-width: 600px) {
  #footer {
    top: 5vmin;
    justify-content: flex-start;
    padding: 2vmin 1vmin 2vmin 1vmin;
  }

  .footer_divider {
    width: 20%;
    padding: 0 1vmin 0 1vmin;
  }

  .footer_divider_header {
    height: 3vmin;
    font-size: 1.4vmin;
  }

  .footer_content_body {
    height: 4vmin;
  }

  .footer_content {
    height: 3.5vmin;
    font-size: 1.5vmin;
  }

  #footer_3d_printing_body:hover > #footer_3d_printing {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_3d_modelling_body:hover > #footer_3d_modelling {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_marketplace_body:hover > #footer_marketplace {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_about_us_body:hover > #footer_about_us {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_what_is_delta_3d_printing_body:hover
    > #footer_what_is_delta_3d_printing {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_contact_us_body:hover > #footer_contact_us {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }

  #footer_partnership_body:hover > #footer_partnership {
    text-shadow: 0 0 3vmin rgb(170, 10, 10);
  }
}
