/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#profile_body {
  width: 100%;
  position: relative;
  top: 10vmin;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 252, 252);
}

#profile_navigation_tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile_navigation_tab {
  height: 8vmin;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 10, 10);
  border-color: rgb(170, 10, 10);
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.profile_navigation_tab_selected {
  border-style: solid none solid none;
  border-top-color: rgb(255, 250, 250);
  background-color: rgb(255, 250, 250);
  opacity: 1;
}

.profile_navigation_tab_text {
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  font-weight: 800;
  color: rgb(245, 245, 245);
}

.profile_navigation_tab_text_selected {
  color: rgb(170, 10, 10);
}

/* ======================================== PROFILE TAB ========================================= */

.profile_tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile_tab_body {
  height: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(170, 10, 10);
  background-color: rgb(170, 10, 10);
  opacity: 0.3;
  transition: all 0.5s ease;
}

.profile_tab_body_selected {
  border-style: solid none solid none;
  border-top-color: rgb(255, 250, 250);
  background-color: rgb(255, 250, 250);
  opacity: 1;
}

.profile_tab {
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  font-weight: 800;
  color: rgb(255, 250, 250);
}

.profile_tab_selected {
  color: rgb(170, 10, 10);
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  #profile_body {
    top: 7.5vmin;
  }

  .profile_navigation_tab {
    height: 6vmin;
  }

  .profile_navigation_tab_text {
    font-size: 2.625vmin;
  }

  /* ======================================== PROFILE TAB ========================================= */

  .profile_tab_body {
    height: 6vmin;
  }

  .profile_tab {
    font-size: 2.625vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  #profile_body {
    top: 5vmin;
  }

  .profile_navigation_tab {
    height: 4vmin;
  }

  .profile_navigation_tab_text {
    font-size: 1.75vmin;
  }

  /* ======================================== PROFILE TAB ========================================= */

  .profile_tab_body {
    height: 4vmin;
  }

  .profile_tab {
    font-size: 1.75vmin;
  }
}

/* ============================================================================================== */
