.order_new_print_parts_part_process_selection_body {
  height: 8vmin;
  width: 20vmin;
  margin: 4vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0.5vmin;
  border-radius: 1vmin;
  border-color: rgba(170, 10, 10, 1);
  box-shadow: 0 0 1.5vmin 0.1vmin rgba(100, 100, 100, 0.4);
}

.order_new_print_parts_part_process_selection_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: rgba(170, 10, 10, 1);
  font-size: 3.5vmin;
}

.order_new_print_parts_part_process_selection_body_selected {
  background-color: rgba(170, 10, 10, 1);
  box-shadow: 0 0 0 0 rgba(100, 100, 100, 0.5);
}

.order_new_print_parts_part_process_selection_text_selected {
  color: rgb(245, 245, 245);
}

@media only screen and (min-width: 600px) {
  .order_new_print_parts_part_process_selection_body {
    height: 4.5vmin;
    width: 12vmin;
    margin: 2.2vmin;
    border-width: 0.2vmin;
    border-radius: 0.6vmin;
  }

  .order_new_print_parts_part_process_selection_text {
    font-size: 2vmin;
  }
}
