/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#admin_profile_orders_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#admin_profile_orders_navigation_tabs_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.admin_profile_orders_navigation_tab {
  height: 8vmin;
  width: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 10, 10);
  border-color: rgb(170, 10, 10);
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.admin_profile_orders_navigation_tab_selected {
  border-style: solid none solid none;
  border-top-color: rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
  opacity: 1;
}

.admin_profile_orders_navigation_tab_text {
  font-family: "Chivo", sans-serif;
  font-size: 3.5vmin;
  font-weight: 800;
  color: rgb(245, 245, 245);
}

.admin_profile_orders_navigation_tab_text_selected {
  color: rgb(170, 10, 10);
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  .admin_profile_orders_navigation_tab {
    height: 6vmin;
  }

  .admin_profile_orders_navigation_tab_text {
    font-size: 2.625vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  .admin_profile_orders_navigation_tab {
    height: 4vmin;
  }

  .admin_profile_orders_navigation_tab_text {
    font-size: 1.75vmin;
  }
}

/* ============================================================================================== */
