/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#profile_dashboard_level_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4vmin;
}

.profile_dashboard_level_heading_body {
  width: 100%;
  display: flex;
  padding: 4vmin;
  border-style: none none solid none;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
}

.profile_dashboard_level_heading_text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 5vmin;
  font-weight: bold;
  letter-spacing: 0.2vmin;
  color: rgb(60, 60, 60);
}

.profile_dashboard_level_meter_body {
  height: 16vmin;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4vmin;
  border-style: none none solid none;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
}

.profile_dashboard_meters_body {
  height: 4vmin;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile_dashboard_meter_body {
  height: 4vmin;
  width: 80%;
  position: absolute;
}

#profile_dashboard_total_meter {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0.2vmin;
  border-color: rgb(100, 100, 100);
  border-radius: 2vmin;
}

#profile_dashboard_progression_meter {
  height: 100%;
  border-radius: 2vmin;
  background-color: rgb(180, 20, 20);
}

.profile_dashboard_total_meter_labels_body {
  height: 4vmin;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1vmin;
}

.profile_dashboard_total_meter_label_body {
  width: 50%;
  display: flex;
}

#profile_dashboard_minimum_order_value_label_body {
  align-items: flex-start;
  justify-content: flex-start;
}

#profile_dashboard_maximum_order_value_label_body {
  align-items: flex-start;
  justify-content: flex-end;
}

.profile_dashboard_total_meter_label_text {
  font-family: "Chivo", sans-serif;
  font-size: 3vmin;
  color: rgb(120, 120, 120);
}

.profile_dashboard_level_stats_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4vmin;
  border-style: none none solid none;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
}

.profile_dashboard_level_stats_heading_body {
  width: 100%;
  padding: 0 0 1vmin 0;
}

.profile_dashboard_level_stats_heading_text {
  font-family: "Chivo", sans-serif;
  font-size: 4vmin;
  color: rgb(120, 120, 120);
}

.profile_dashboard_level_stats_content_body {
  width: 100%;
}

.profile_dashboard_level_stats_content_text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 6vmin;
  font-weight: bolder;
  color: rgb(60, 60, 60);
}

/* ========================================== BENEFITS ========================================== */

#dashboard_level_benefits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2vmin;
}

.dashboard_level_benefit_body {
  width: 100%;
  display: flex;
  padding: 2vmin;
}

.dashboard_level_benefit {
  font-family: "Open Sans", sans-serif;
  font-size: 4vmin;
  color: rgb(60, 60, 60);
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  #profile_dashboard_level_body {
    padding: 3vmin;
  }

  .profile_dashboard_level_heading_body {
    padding: 3vmin;
    border-width: 0.15vmin;
  }

  .profile_dashboard_level_heading_text {
    font-size: 3.75vmin;
    letter-spacing: 0.15vmin;
  }

  .profile_dashboard_level_meter_body {
    height: 12vmin;
    padding: 3vmin;
    border-width: 0.15vmin;
  }

  .profile_dashboard_meters_body {
    height: 3vmin;
  }

  .profile_dashboard_meter_body {
    height: 3vmin;
  }

  #profile_dashboard_total_meter {
    border-width: 0.15vmin;
    border-radius: 1.5vmin;
  }

  #profile_dashboard_progression_meter {
    border-radius: 1.5vmin;
  }

  .profile_dashboard_total_meter_labels_body {
    height: 3vmin;
    padding: 0.75vmin;
  }

  .profile_dashboard_total_meter_label_text {
    font-size: 2.25vmin;
  }

  .profile_dashboard_level_stats_body {
    padding: 3vmin;
    border-width: 0.15vmin;
  }

  .profile_dashboard_level_stats_heading_body {
    padding: 0 0 0.75vmin 0;
  }

  .profile_dashboard_level_stats_heading_text {
    font-size: 3vmin;
  }

  .profile_dashboard_level_stats_content_text {
    font-size: 4.5vmin;
  }

  /* ========================================== BENEFITS ========================================== */

  #dashboard_level_benefits {
    padding: 1.5vmin;
  }

  .dashboard_level_benefit_body {
    padding: 1.5vmin;
  }

  .dashboard_level_benefit {
    font-size: 3vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  #profile_dashboard_level_body {
    padding: 2vmin;
  }

  .profile_dashboard_level_heading_body {
    padding: 2vmin;
    border-width: 0.1vmin;
  }

  .profile_dashboard_level_heading_text {
    font-size: 2.5vmin;
    letter-spacing: 0.1vmin;
  }

  .profile_dashboard_level_meter_body {
    height: 8vmin;
    padding: 2vmin;
    border-width: 0.1vmin;
  }

  .profile_dashboard_meters_body {
    height: 2vmin;
  }

  .profile_dashboard_meter_body {
    height: 2vmin;
  }

  #profile_dashboard_total_meter {
    border-width: 0.1vmin;
    border-radius: 1vmin;
  }

  #profile_dashboard_progression_meter {
    border-radius: 1vmin;
  }

  .profile_dashboard_total_meter_labels_body {
    height: 2vmin;
    padding: 0.5vmin;
  }

  .profile_dashboard_total_meter_label_text {
    font-size: 1.5vmin;
  }

  .profile_dashboard_level_stats_body {
    padding: 2vmin;
    border-width: 0.1vmin;
  }

  .profile_dashboard_level_stats_heading_body {
    padding: 0 0 0.5vmin 0;
  }

  .profile_dashboard_level_stats_heading_text {
    font-size: 2vmin;
  }

  .profile_dashboard_level_stats_content_text {
    font-size: 3vmin;
  }

  /* ========================================== BENEFITS ========================================== */

  #dashboard_level_benefits {
    padding: 1vmin;
  }

  .dashboard_level_benefit_body {
    padding: 1vmin;
  }

  .dashboard_level_benefit {
    font-size: 2vmin;
  }
}

/* ============================================================================================== */
