/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

.profile_orders_prints_orders_summary_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-style: solid solid none none;
  border-radius: 0.8vmin;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
  box-shadow: 0 0 0.8vmin 0 rgb(200, 200, 200);
}

#profile_orders_prints_orders_summary_list_tables {
  min-height: 32vmin;
  max-height: 96vmin;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.8vmin;
  background-color: rgb(255, 250, 250);
  overflow-y: overlay;
}

.profile_orders_prints_orders_summary_list_table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-style: solid none none none;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
}

.profile_orders_prints_orders_summary_list_cell {
  height: 16vmin;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none none solid solid;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
  padding: 2vmin;
  background-color: rgb(255, 250, 250);
  font-family: "Open Sans", sans-serif;
  font-size: 3.2vmin;
  text-align: center;
  letter-spacing: 0.1vmin;
  color: rgb(60, 60, 60);
}

.profile_orders_prints_orders_summary_list_print_setting {
  width: 50%;
}

#profile_orders_prints_orders_summary_list_no_order {
  min-height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none none solid solid;
  border-width: 0.2vmin;
  border-color: rgb(180, 180, 180);
  font-family: "Chivo", sans-serif;
  font-size: 5vmin;
  font-weight: bold;
  letter-spacing: 0.2vmin;
  color: rgb(170, 10, 10);
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  .profile_orders_prints_orders_summary_list {
    border-radius: 0.6vmin;
    border-width: 0.15vmin;
    box-shadow: 0 0 0.6vmin 0 rgb(200, 200, 200);
  }

  #profile_orders_prints_orders_summary_list_tables {
    min-height: 24vmin;
    max-height: 72vmin;
    border-radius: 0.6vmin;
  }

  .profile_orders_prints_orders_summary_list_table {
    border-width: 0.15vmin;
  }

  .profile_orders_prints_orders_summary_list_cell {
    height: 12vmin;
    width: 18.75%;
    border-width: 0.15vmin;
    padding: 1.5vmin;
    font-size: 2.4vmin;
    letter-spacing: 0.075vmin;
  }

  .profile_orders_prints_orders_summary_list_print_setting {
    width: 37.5%;
  }

  #profile_orders_prints_orders_summary_list_no_order {
    border-width: 0.15vmin;
    font-size: 3.75vmin;
    letter-spacing: 0.15vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  .profile_orders_prints_orders_summary_list {
    border-radius: 0.4vmin;
    border-width: 0.1vmin;
    box-shadow: 0 0 0.4vmin 0 rgb(200, 200, 200);
  }

  #profile_orders_prints_orders_summary_list_tables {
    min-height: 16vmin;
    max-height: 48vmin;
    border-radius: 0.4vmin;
  }

  .profile_orders_prints_orders_summary_list_table {
    border-width: 0.1vmin;
  }

  .profile_orders_prints_orders_summary_list_cell {
    height: 8vmin;
    width: 12.5%;
    border-width: 0.1vmin;
    padding: 1vmin;
    font-size: 1.6vmin;
    letter-spacing: 0.05vmin;
  }

  .profile_orders_prints_orders_summary_list_print_setting {
    width: 25%;
  }

  #profile_orders_prints_orders_summary_list_no_order {
    border-width: 0.1vmin;
    font-size: 2.5vmin;
    letter-spacing: 0.1vmin;
  }
}

/* ============================================================================================== */
