/* ================================= SMALL (MOBILE) SCREEN SIZE ================================= */

#admin_ready_for_shipping_modal_footer_contents {
  flex-direction: column;
}

#admin_order_details_add_tracking_number_button {
  width: 30vmin;
}

.admin_order_details_ready_for_shipping_tracking_number_body {
  height: 10vmin;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
}

.admin_order_details_ready_for_shipping_tracking_number {
  height: 6vmin;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 2vmin;
  font-family: "Open Sans", sans-serif;
  font-size: 3.6vmin;
}

.admin_order_details_ready_for_shipping_delete_tracking_number {
  height: 5vmin;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 75, 90);
  border-radius: 1vmin;
  font-family: "Chivo", sans-serif;
  font-size: 3vmin;
  font-weight: bold;
  color: rgb(250, 250, 250);
}

/* ================================ MEDIUM (TABLET) SCREEN SIZE ================================= */

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  #admin_order_details_add_tracking_number_button {
    width: 22.5vmin;
  }

  .admin_order_details_ready_for_shipping_tracking_number_body {
    height: 7.5vmin;
    padding: 1.5vmin;
  }

  .admin_order_details_ready_for_shipping_tracking_number {
    height: 4.5vmin;
    padding: 1.5vmin;
    font-size: 2.7vmin;
  }

  .admin_order_details_ready_for_shipping_delete_tracking_number {
    height: 3.75vmin;
    border-radius: 0.75vmin;
    font-size: 2.25vmin;
  }
}

/* ================================ LARGE (DESKTOP) SCREEN SIZE ================================= */

@media only screen and (min-width: 1400px) {
  #admin_order_details_add_tracking_number_button {
    width: 15vmin;
  }

  .admin_order_details_ready_for_shipping_tracking_number_body {
    height: 5vmin;
    padding: 1vmin;
  }

  .admin_order_details_ready_for_shipping_tracking_number {
    height: 3vmin;
    padding: 1vmin;
    font-size: 1.8vmin;
  }

  .admin_order_details_ready_for_shipping_delete_tracking_number {
    height: 2.5vmin;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
  }
}

/* ============================================================================================== */
